.header {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
 
  
  .app-name {
    color: #ff6f00;
    font-size: 24px;
    margin: 0;
  }
  
  .dropdowns {
    display: flex;
    align-items: center;
  }
  
  .dropdowns select {
    margin-right: 10px;
    font-size: 16px;
    padding: 8px;
  }
  
  .run-button {
    background-color: #ff6f00;
    color: white;
    padding: 8px 16px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .run-button:hover {
    background-color: #ff8124;
  }
  
  .dropdowns select:last-child {
    margin-right: 0;
    margin-left: 16px;
  }
  
  .app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .editor-container {
    flex-grow: 1;
    overflow-y: auto;
  }
  
  .output-container {
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: flex-start;
  }
  
  .output-container .input {
    flex-grow: 1;
    padding: 10px;
    background-color: #222;
    margin-right: 10px;
    border-radius: 4px;
  }
  
  .output-container .output {
    flex-grow: 1;
    padding: 10px;
    background-color: #222;
    border-radius: 4px;
  }
  
  .input-textarea,
  .output-textarea {
    width: 90%;
    height: 50px;
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
  }
  